* {
    box-sizing: border-box;
}

body{
    font-family: 'Sekuya', sans-serif;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}
.container {
    max-width: 940px;
    margin: auto;
    overflow: auto;
}

section {
    padding: 3em 0em;
    overflow: auto;
}

section.fundo {
    background-color: #f1f1f1;
}


img {
    max-width: 100%;
    height: auto;
}
img.destaque {
    border-radius: 50%;
}

p.destaque{
    color: #2085c0;
    font-size: 20px;
    font-size: bold;
}
/* Cabeçalho */
.cabecalho {
    padding: 20px;
    background-color: #f1f1f1;
    background-image: url(../imagens/topo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    text-align: center;
}

.cabecalho h1{
    font-size: 40px;
}
.cabecalho p{
    font-size: 25px;
}
/* Colunas pro desktop */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Configuração para celulares */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    .container{
        padding: 15px;
    }
}